*{
  background: #242424;
  color: #fff;
}

.APP{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

button{
  padding: 12px 24px;
  background: red;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 1px;
  font-size: 20px;
  outline: none;
}